{% extends "_base/class.html.jinja" %}

{% set ns = namespace(is_protocol=false, is_namespace_class=false) %}
{% for base in class.bases %}
{% if "Protocol" in base|string %}
{% set ns.is_protocol = true %}
{% endif %}
{% endfor %}

{% set ns2 = namespace(has_non_dataclass_children=false, has_children=false) %}
{% for child_name, child in class.classes.items() %}
{% set ns2.has_children = true %}
{% if "dataclass" not in child.labels %}
{% set ns2.has_non_dataclass_children = true %}
{% endif %}
{% endfor %}

{% if ns2.has_children and not ns2.has_non_dataclass_children %}
{% set ns.is_namespace_class = true %}
{% endif %}

{% block source %}
{% if ns.is_protocol or ns.is_namespace_class %}
  {{ super() }}
{% else %}
  {% set ns3 = namespace(has_user_methods=false) %}
  {% for func_name in class.functions %}
    {% if not func_name.startswith("__") %}
      {% set ns3.has_user_methods = true %}
    {% endif %}
  {% endfor %}

  {% if not ns3.has_user_methods %}
    {{ super() }}
  {% endif %}
{% endif %}
{% endblock source %}

{% block children scoped %}
{% if not ns.is_protocol and not ns.is_namespace_class %}
{{ super() }}
{% endif %}
{% endblock children %}
